html {
  background: #F8F8F8;
}

body { height: 100%; }

.sub-sidebar-menu:hover, .sub-sidebar-menu-active { color: #1AA86E; }

@media (min-width: 1200px) and (max-width: 1300px) { 
  .content {margin-left: 3%;  }
}

/* Content */
/***********/
.header-title {
  font-size: 18px;
}

.user label{ font-size: 14px; }
.user small{ font-size: 12px; }

.user-ava {
  width: 40px;
  height: 40px;
}

.server-card { 
  background: #1AA86E !important;
  color: white;
  filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.03)) drop-shadow(0px 1.46007px 11.3155px rgba(0, 0, 0, 0.0174465)) drop-shadow(0px 0.708835px 5.49347px rgba(0, 0, 0, 0.0130688)) drop-shadow(0px 0.347484px 2.693px rgba(0, 0, 0, 0.0101195)) drop-shadow(0px 0.137396px 1.06482px rgba(0, 0, 0, 0.00696833));
}

.map-pin {
  width: 32px;
  height: 32px;
  border-radius: 5px;
}